#timerbutton{
  margin: 30px auto;
  width: 180px;
  border-radius: 5px;
  box-shadow: 0 4px 0 #e91b0c;
  background: #f44336;
  color:#fff;
  cursor: pointer;
  padding: 7px;
}
#timerbutton:hover{
  opacity: 0.8;
}
