{{- define "main" }}

<article class="index">
  <header class="entry-header">
    <h1>SYNMODORO</h1>
  </header>
  <section class="entry-content">
    <p>Share your pomodoro timer with all your mates.</p>
  </section>
  <section class="bottom-margin entry-content">
    <a href="/app"><div id="timerbutton">Go timer</div></a>
  </section>

  <section class="entry-content bottom-margin">
    <h2>Gather around onsite/online.</h2>
  <img src="/imgs/desc1.png">
  </section>

  <section class="entry-content bottom-margin">
    <h2>Once somebody starts the timer all the mates start working synchronously.</h2>
  <img src="/imgs/desc2.png">
  </section>

  <section class="entry-content bottom-margin">
    <h2>Finishing your working sesion for a break.</h2>
  <img src="/imgs/desc3.png">
  </section>

  <section class="entry-content bottom-margin">
    <h2>Have a shared break time for the next session!</h2>
  <img src="/imgs/desc4.png">
  </section>

</article>
<link rel="stylesheet" type="text/css" href="/assets/css/app.css"></script>
{{- end }}{{/* end main */}}
